/* COLORS */

$White: #ffffff;
$Black: #000000;
$Silverblack: #272727;
$Red: #ff0000;
$Green: #00ff00;
$Yellow: #ffff00;
$Blue: #0000ff;
$DarkSlateGray: #2f4f4f;
$DimGrey: #696969;
$SlateGrey: #708090;
$LightSlateGray: #778899;
$Grey: #bebebe;
$LightGray: #d3d3d3;
$SkyBlue1: #87ceff;
$SkyBlue2: #7ec0ee;
$SkyBlue3: #6ca6cd;
$SkyBlue4: #4a708b;
$Turquoise1: #00f5ff;
$Turquoise2: #00e5ee;
$Turquoise3: #909494;
$Turquoise4: #00868b;

/* COLORS */
/*---------------------------------------------------------------*/
/* SIZE TEXT*/
$Size1: 10px;
$Size2: 12px;
$Size3: 14px;
$Size4: 16px;
$Size5: 18px;
$Size6: 20px;
$Size7: 22px;
$Size8: 24px;
$Size9: 26px;
$Size10: 28px;
$Size11: 30px;
$Size12: 32px;
$Size13: 34px;
$Size14: 36px;
$Size15: 38px;
$Size16: 40px;
/* SIZE TEXT*/
/*---------------------------------------------------------------*/
