/* COLORS */

$White: #ffffff;
$Black:	#000000;
$Silverblack: #272727;
$Red: #FF0000;
$Green: #00FF00;
$Yellow: #FFFF00;
$Blue: #0000FF;
$DarkSlateGray: #2F4F4F;
$DimGrey: #696969;
$SlateGrey:	#708090;
$LightSlateGray:	#778899;
$Grey:	#BEBEBE;
$LightGray: #D3D3D3;
$SkyBlue1: #87CEFF;
$SkyBlue2: #7EC0EE;
$SkyBlue3: #6CA6CD;
$SkyBlue4: #4A708B;
$Turquoise1: #00F5FF;
$Turquoise2: #00E5EE;
$Turquoise3: #909494;
$Turquoise4: #00868B;


/* COLORS */
/*---------------------------------------------------------------*/
/* SIZE TEXT*/
$Size1: 10px;
$Size2: 12px;
$Size3: 14px;
$Size4: 16px;
$Size5: 18px;
$Size6: 20px;
$Size7: 22px;
$Size8: 24px;
$Size9: 26px;
$Size10: 28px;
$Size11: 30px;
$Size12: 32px;
$Size13: 34px;
$Size14: 36px;
$Size15: 38px;
$Size16: 40px;
/* SIZE TEXT*/
/*---------------------------------------------------------------*/