
.loading{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 10000;
}
.loading::before{
    content: '';
    display: block;
    width: 100px;
    height: 100px;
    border: 5px solid silver;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-radius: 50%;
    animation: AnimationBefore 1s linear infinite alternate;
}
.loading::after{
    content: '';
    display: block;
    width: 80px;
    height: 80px;
    border: 5px solid silver;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-radius: 50%;
    position: absolute;
    animation: AnimationAfter 1s linear infinite alternate;
}

@keyframes AnimationBefore{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
        background-color: rgba(0, 45, 49, 0.767);
    }
}
@keyframes AnimationAfter{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}

@media (max-width: 500px){
    .loading::before{
        width: 50px;
        height: 50px;
    }
    .loading::after{
        width: 30px;
        height: 30px;
    }
}