@import "./imports";
@media (min-width: 1024px) {
  
  .contacts {
    left: 10px;
    width: 60px;
    height: 300px;
    left: 10px;
    border: 5px solid $Turquoise4;
    &_button{
      display: none;
    }
    
  }
  header {
    .header_logo {
      height: 70%;
    }
    .header_title {
      font-size: $Size5;
    }
    .header_contact {
      p {
        font-size: $Size4;
      }
    }
  }
  .personal_information {
    position: relative;
    .my_full_name {
      > h2 {
        font-size: $Size16;
      }
    }
    .about_me {
      span {
        font-size: $Size4;
      }
    }
    .my_contact {
      right: 0;
      bottom: 0;
      .viber,
      .whatsapp {
        font-size: $Size6;
      }
      .number_phone {
        font-size: $Size4;
      }
    }
  }
  .full_stack {
    align-items: center;
    height: 100px;
    font-size: $Size14;
  }
  .my_img {
    width: 40%;
    height: 100%;
  }
  .skils_name {
    span {
      font-size: $Size6;
    }
  }
  footer {
    ul {
      width: 200px;
      li {
        width: 30px;
        height: 30px;
      }
    }
  }
  .big_img{
    display: flex;
  }
}
@media (max-width: 1024px) {
  .contacts{
    &::before{
      display: none;
    }
    &::after{
      display: none;
    }
    &_button{
      display: none;
    }
  }
  
  header {
    .header_logo {
      height: 50%;
    }
    .header_title {
      font-size: $Size3;
    }
    .header_contact {
      p {
        font-size: $Size3;
      }
    }
    .personal_data {
      width: 70%;
      height: 100%;
    }
  }
  .button_gradient_border {
    z-index: 10;
    flex-direction: column;
    align-items: center;
    position: absolute;
    padding: 50px;
    right: -225px;
    top: 0px;
    background-color: $Black;


    li{
      display: flex;
      width: 150px;
      height: 30px;
      align-items: center;
      margin: 5px;
      a{
        width: 100%;
        height: 100%;
     
      }
    }
    .burger {
      display: block;
     
    }
  }
  .container_title {
    h2 {
      font-size: $Size6;
    }
  }
  .full_stack {
    font-size: $Size8;
  }

  .personal_information {
    flex-direction: column;
    .my_img {
      width: 100%;
      height: 100%;
    }
    .personal_data {
      width: 100%;
    }
  }
  .skils {
    flex-direction: column;

    &_container {
      width: 100%;
      height: 50%;
      padding: 50px 0px;

      &:first-child {
        border-right: 1px solid transparent;
      }
      &:last-child {
        border-left: 1px solid transparent;
      }
      h2 {
        border-bottom: 2px solid $DarkSlateGray;
      }
      .front_end,
      .back_end {
        padding: 20px 0;
      }
    }
  }
  .project {
    .project_title_link {
      h2 {
        font-size: $Size7;
      }
      a {
        height: 40%;
        padding: 0px 10px;
      }
    }
    .project_img {
      width: 100%;
      height: 85%;

      align-items: center;

      img {
        margin: 0px 0.5%;
        width: 49%;
        height: 40%;
      }
    }
  }
  .navigation_card {
    right: 10px;
    z-index: 1;
  }
  ul{
    width: 200px;
    li {
      width: 20px;
      height: 20px;
    }
  }
  
}
@media (max-width: 768px) {
  
  header {
    .header_logo {
      height: 40%;
    }
    .header_title {
      font-size: $Size2;
    }
    .header_contact {
      p {
        font-size: $Size2;
      }
    }
    .personal_data {
      width: 70%;
      height: 100%;
    }
  }
  .full_stack {
    font-size: $Size6;
  }

  .personal_information {
    flex-direction: column;
    align-items: center;
    .my_img {
      width: 60%;
    }
    .personal_data {
      width: 100%;
    }
  }
  .skils {
    flex-direction: column;

    &_container {
      width: 100%;
      height: 50%;
      padding: 50px 0px;

      &:first-child {
        border-right: 1px solid transparent;
      }
      &:last-child {
        border-left: 1px solid transparent;
      }
      h2 {
        border-bottom: 2px solid $DarkSlateGray;
      }
      .front_end,
      .back_end {
        padding: 20px 0;
      }
    }
    .skils_name {
      span {
        font-size: $Size4;
      }
    }
  }
  .project {
    .project_title_link {
      h2 {
        font-size: $Size7;
      }
      a {
        height: 40%;
        padding: 0px 10px;
      }
    }
    .project_img {
      width: 100%;
      height: 85%;

      align-items: center;

      img {
        margin: 0px 0.5%;
        width: 49%;
        height: 40%;
      }
    }
  }
  .navigation_card {
    right: 10px;
  }
  footer {
    span {
      font-size: $Size3;
    }
  }
}
@media (max-width: 500px) {
  .big_img{
    display: none;
  }
  .navigation_card {
    justify-content: center;
    .radio_line {
      display: none;
    }
  }
  .contacts {
    left: -40px;
    width: 30px;
    height: 210px;
    align-items: center;
  }
  .contacts_button {
    display: block;
  }
  header {
    .header_logo {
      height: 30%;
    }
    .header_title {
      font-size: $Size1;
    }
    .header_contact {
      display: none;
    }
    .personal_data {
      width: 70%;
      height: 100%;
    }
  }
  .container_title {
    h2 {
      font-size: $Size1;
    }
  }
  .full_stack {
    height: 50px;
    font-size: $Size1;
    align-items: flex-start;
  }

  .personal_information {
    flex-direction: column;
    align-items: center;
  
    .my_img {
      width: 50%;
    }
    .personal_data {
      width: 100%;
    }
    .my_full_name {
      
      > h2 {
        font-size: $Size8;
      }
    }
    .about_me {
      h2 {
        font-size: $Size3;
      }
      h3{
        font-size: $Size3;
      }
      span {
        font-size: $Size2;
      }
    }

    .my_contact {
      flex-direction: column;
      bottom: 5px;
      .viber,
      .whatsapp {
        font-size: $Size2;
      }
      .number_phone {
        font-size: $Size1;
      }
    }
  }
  .skils {
    flex-direction: column;

    &_container {
      width: 100%;
      height: 50%;
      padding: 0px;

      .skils_progress {
        width: 30px;
      }
      &:first-child {
        border-right: 1px solid transparent;
      }
      &:last-child {
        border-left: 1px solid transparent;
      }
      h2 {
        border-bottom: 2px solid $DarkSlateGray;
      }
      .front_end,
      .back_end {
        padding: 50px 0;
      }
    }
    .skils_name {
      span {
        font-size: $Size1;
      }
    }
    .skils_progress_value {
      font-size: 10px;
    }
  }
  .project {
    .project_title_link {
      h2 {
        font-size: $Size1;
      }
      a {
        height: 40%;
        width: 35%;
      }
      p {
        font-size: 8px;
      }
      img {
        padding-left: 5px;
      }
    }
    .project_img {
      flex-direction: column;
      flex-wrap: nowrap;
      width: 100%;
      height: 100%;
      align-items: center;

      img {
        margin: 0px 0.5%;
        width: 100%;
        height: 22%;
        margin: 1% 0;
      }
    }
  }
  .navigation_card {
    right: 10px;
  }
  footer {
    span {
      font-size: $Size1; 
    }
    .footer_title{
      display: none;
    }
    ul{
      width: 100px;
      li {
        width: 15px;
        height: 15px;
      }
    }
  }
}
