

// =================== COLORS ===================
$dark: #282C33;
$light: #ffffff;
$red: #E06B74;
$green: #98C379;
$orange: #E5C07A;
$cyan: #62AEEF;
$magenta: #C778DD;
$turqoise: #55B6C2;
$gray: #ABB2BF;

$button-hover: rgba(86, 182, 194, 0.2);
// =================== COLORS ===================

// =================== FONTS ===================
// @font-face {
//     font-family: myFirstFont;
//     src: url('../fonts/Fira_Code/FiraCode-Bold.ttf') format('truetype');
// }

$font: 'Fira Code', 'sans-serif';
$fontVF: 'Fira Code VF', 'sans-serif';
// =================== FONTS ===================
